.peoplepage {
  display: block;
  width: 100%;
  margin: 0 auto;
}

.nav {
  width: 187px;
  margin-top: 30px;
}

@media (min-width: 1024px) {
  .peoplepage {
    display: block;
    width: 804px;
    margin: 0 auto;
  }
  
  .nav {
    width: 187px;
    margin-top: 30px;
  }
}